@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root {
    font-size: 62.5%;

    --coldark: #0c0c0e;
    --collight: rgb(243, 223, 204);
    --colmedium: #1f2524;
    --colwhite: #fff;
    --colblack: rgb(0, 0, 0);
    --colblackGradient: rgb(0, 0, 0, 0.8);
    --colcontrast: rgb(12, 233, 185);
    --colcontrast2: rgb(180, 134, 8);
    --colgradient: linear-gradient(150deg, rgba(83, 153, 135, 1) 0%, rgba(254, 254, 254, 1) 100%);

    --button-padding: 0.3rem 1rem;
    --section: 2rem;
    --text: 1.6rem;
    --round-radius: 3rem;
    --regular-radius: 0.5rem;
    --card-shadow:0px 1px 2px 0px rgba(0,255,255,0.7),
            1px 2px 4px 0px rgba(243, 223, 204, 0.4),
            2px 4px 8px 0px rgba(243, 223, 204, 0.4),
            2px 4px 16px 0px rgba(105, 104, 39, 0.4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(./images/movieposter.jpg);
    background-position:90% 80%;
    background-size: cover;
    color: var(--colwhite);
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.8;
    overflow: hidden;
}
nav{
    font-size: 3rem;
    line-height: 1.1;
    max-height: 12%;
    background-color: var(--colcontrast2);
    /* color: var(--colmedium); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    text-transform: uppercase;
    text-align: center;
}

nav span{
    font-size: 6rem;
    color: var(--colmedium);
  }
nav h3{
  transform: translatey(25%);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex: 1;
}
.moviesList{
    background-color: var(--coldark);
    flex-basis: 25%;
}
.moviesList h5{
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
}
#list li{
    width: 100%;
    text-transform: uppercase;
    list-style: none;
    padding: 0.3rem 1rem;
}
#list li:hover {
    background-color: var(--colcontrast2);
    cursor: pointer;
    padding: 0.3rem 1.4rem;
}
.main-content{
  flex-basis: 70%;
  margin: 6rem auto;
  position: relative;
}
.container-dits{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
.container-img {
    flex-basis: 40%;
}
img {
    width: 90%;
    height: 80%;
    border-radius: var(--regular-radius);
    box-shadow: var(--card-shadow);
    /* box-shadow: 5px 10px rgba(136, 136, 136, 0.5); */
}
.container-content{
    background-color: var(--colcontrast2);
    flex-basis: 50%;
    border-radius: var(--regular-radius);
    box-shadow:var(--card-shadow);
    overflow: hidden;

}
.container-content-header{
    color: var(--coldark);
    padding: 0.5rem 2rem;
    font-weight: 600;
}
.container-content-header h4{
    text-transform: uppercase;
    font-size: 2.5rem;
}
.container-content-details{
    background-color: var(--coldark);
    font-size: 1.4rem;
    padding: 2rem;
}
.container-content button{
    background-color: var(--colcontrast2);
    border: none;
    padding: var(--button-padding);
    font-size: 1.6rem;
    margin:2rem 0 1rem;
    font-weight: 600;
    transition: .3s;
}
#ticketNumber{
    background:none;
    color: inherit;
}
#ticketNumber span{
    margin-right: 0.7rem;
}
.buyTicket{
    display: inline-block;
    width: 100%;
    border-radius: var(--regular-radius);
    cursor: pointer;
}
.buyTicket:hover{
    background-color: var(--collight);
}
.img-size{
  width:40%;
  height: 40%;
  margin-top: 6rem;
}

.temp-layout {
    color: var(--colcontrast2);
    font-size: 2.8rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 2rem;
    text-align: center;
    text-transform: uppercase;
}
.temp-layout span{
    font-size: 5rem;
}
/*


.temp-layout img{
width: 35%;
height: 40%;
margin: 2rem;
cursor: pointer;
}
@media (max-width:38rem) {
    header {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 10% 60%;

        }
    .moviesList #list {
                    overflow: scroll;
        }
    .moviesList #list {
            overflow: scroll;
        }
    .container-dits {
            padding: 1.4rem;
            width: 100%;

        }
    .container-img {
            width: 40%;
            height: 60%;
        }
    .container-content{
width: 20rem;
    }
    .container-content p{
           font-size: 0.7rem;



        }
}  */
