/* Poppins font style link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
/* root specs */
:root {
    font-size: 62.5%;
    --coldark: #0c0c0c;
    --collight: rgb(189, 185, 185);
    --colmedium: #242525;
    --colcontrast2: rgb(180, 134, 8);
    --button-padding: 0.3rem 1rem;
    --regular-radius: 0.5rem;
    --card-shadow:0px 1px 2px 0px rgba(0,255,255,0.7),
            1px 2px 4px 0px rgba(243, 223, 204, 0.4),
            2px 4px 8px 0px rgba(243, 223, 204, 0.4),
            2px 4px 16px 0px rgba(105, 104, 39, 0.4);
}
/* apply to all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(./images/movieposter.jpg);
    background-position:90% 80%;
    background-size: cover;
    color: var(--collight);
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.8;
    overflow: hidden;
}
/* nav section */
nav{
    font-size: 3rem;
    line-height: 1.1;
    max-height: 12%;
    background-color: var(--colcontrast2);
    /* color: var(--colmedium); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    text-transform: uppercase;
    text-align: center;
}
nav span{
    font-size: 6rem;
    color: var(--colmedium);
  }
nav h3{
  transform: translatey(25%);
}
nav h4{
  font-size: 1.4rem;
  color: var(--colmedium);
}
h4 span{
  color: var(--collight);
}
/* header section */
header{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex: 1;
}
/* movie list section on the side */
.moviesList{
    background-color: var(--coldark);
    flex-basis: 25%;
    box-shadow: 2px 0px 0px 0px var(--collight);
}
.moviesList h5{
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
    color: var(--colcontrast2);
    line-height: 1.1;
}
#list li{
    width: 100%;
    text-transform: uppercase;
    list-style: none;
    padding: 0.3rem 1rem;
}
#list li:hover {
    background-color: var(--colcontrast2);
    cursor: pointer;
    padding: 0.3rem 1.4rem;
    color: var(--coldark);
}
/* main content section for the image display */
.main-content{
  flex-basis: 70%;
  margin: 6rem auto;
  position: relative;
}
.container-dits{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
.container-img {
    flex-basis: 40%;
    height: 70vh;
}
img {
    width: 100%;
    height: 100%;
    border-radius: var(--regular-radius);
    box-shadow: var(--card-shadow);
}
.container-content{
    background-color: var(--colcontrast2);
    flex-basis: 45%;
    border-radius: var(--regular-radius);
    box-shadow:var(--card-shadow);
    height: 60vh;
    max-height: 80rem;
    overflow: hidden;
  }
.container-content-header{
    color: var(--coldark);
    padding: 1rem 2rem;
    font-weight: 600;
    height: 25%;
}
.container-content-header h4{
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 1.1;
}
.container-content-details{
    background-color: var(--coldark);
    font-size: 1.4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
}
.container-content button{
    background-color: var(--colcontrast2);
    border: none;
    padding: var(--button-padding);
    font-size: 1.6rem;
    margin:2rem 0 1rem;
    font-weight: 600;
    transition: .3s;
}
#ticketNumber{
    background:none;
    color: inherit;
}
#ticketNumber span{
    margin-right: 0.7rem;
}
.buyTicket{
    display: inline-block;
    width: 100%;
    border-radius: var(--regular-radius);
    cursor: pointer;
}
.buyTicket:hover{
    background-color: var(--collight);
}
.buyTicket.allout{
  background-color: rgb(156, 7, 7);
  color: var(--collight);
}
/* loaded images and wordings on the content screen */
.img-size{
  width:40%;
  height: 40%;
  margin-top: 6rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.temp-layout {
    color: var(--colcontrast2);
    font-size: 2.8rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 2rem;
    text-align: center;
    text-transform: uppercase;
}
.temp-layout span{
    font-size: 5rem;
}
/* For screens less than 600px */

@media (max-width:62rem) {
  body{
    overflow: visible;
    font-size: 1.4rem;
  }
  .main-content{
    flex-basis: 70%;
    margin: 6rem auto;
  }
  .container-dits{
    flex-direction: column;
  }
  .container-content{
    flex-basis: 30%;
    width: 60%;
    height: auto;
  }
  .container-img {
    flex-basis: 30%;
    width: 60%;
    margin-bottom: 1rem;
  }
  img {
    width: 100%;
    height: 60%;
  }
  nav{
    font-size: 2rem;
  }
  nav span{
    font-size: 4rem;
    color: var(--colmedium);
  }
  nav h3{
    transform: translatey(0);
  }
  .temp-layout{
    font-size: 2.4rem;
  }
  .container-content-header h4{
    line-height: 1.2;
    font-size: 2rem;
  }
}
