@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root {
    font-size: 62.5%;

    --coldark: #0c0c0e;
    --collight: rgb(243, 223, 204);
    --colmedium: #1f2524;
    --colwhite: #fff;
    --colblack: rgb(0, 0, 0);
    --colblackGradient: rgb(0, 0, 0, 0.8);
    --colcontrast: rgb(12, 233, 185);
    --colcontrast2: rgb(180, 134, 8);
        /* --colcontrast2: rgb(8, 180, 143); */
    --colgradient: linear-gradient(150deg, rgba(83, 153, 135, 1) 0%, rgba(254, 254, 254, 1) 100%);

    --button-padding: 0.3rem 1rem;
    --section: 2rem;
    --text: 1.6rem;
    --round-radius: 3rem;
    --regular-radius: 0.5rem;
    --card-shadow:0 1rem 1.5rem rgba(73, 72, 69, 0.4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--colmedium);
    color: var(--colwhite);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    overflow: hidden;
}
nav{
    font-size: 2rem;
    line-height: 1;
    height: 15%;
    background-color: var(--colcontrast2);
    color: var(--colmedium);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
nav span{
    font-size: 3rem;
    text-transform: uppercase;
}
span{
    color: var(--collight);
}
header{
    display: grid;
    grid-template-columns: 20% 90%;
}
.moviesList{
    background-color: var(--coldark);
    min-height: 100vh;
    box-shadow: var(--card-shadow);
    text-align: left;
    padding: 0 2rem;
}
.moviesList #list{
   font-size: 0.85rem; 
}
.moviesList h5{
    font-size: 1.3rem;
    margin: rem;
}
#list li{
    width: 100%;
    text-transform: uppercase;
    list-style: none;
}
#list li:hover {
    background-color: var(--colcontrast2);
    cursor: pointer;
}
.main-content{
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./images/movieposter.jpg);
  background-position:90% 80%;
  background-size: cover;
  position: relative;
}

.container-dits{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 80%;
    height: 90vh;
    text-align: left;
}
.container-img {
    width: 50%;
    height: 90%;
}
img {
    width: 100%;
    height: 100%;
    border-radius: var(--regular-radius);
    box-shadow: var(--card-shadow);
}
.container-content{
    background-color: var(--colcontrast2);
    width: 40%;
    border-radius: var(--regular-radius);
    box-shadow: var(--card-shadow);
    overflow: hidden;
    
}
.container-content-header{
    color: var(--coldark);
}
.container-content-details{
    background-color: var(--coldark);
    font-size: 1rem;
    padding: 1rem;
}
.container-content-header{
    padding: 0.5rem 1rem;
    font-weight: 600;
}
.container-content-header h4{
    text-transform: uppercase;
}
.container-content p{
    font-size: 0.9rem;
}
.container-content button{
    background-color: var(--colcontrast2);
    color: var(--coldark);
    border: none;
    padding: var(--button-padding);
    font-size: 1rem;
    margin:0.6rem 0;
    font-weight: 600;
    transition: .3s;
}
.container-content button:hover{
    background-color: var(--collight);
}
#ticketNumber{
    background:none;
    color: inherit;
}
#ticketNumber span{
    margin-right: 0.7rem;
}
#buyTicket{
    display: inline-block;
    width: 100%;
    border-radius: var(--regular-radius);
    cursor: pointer;
}
.temp-layout{
    display: flex;
    /* margin: 2rem; */
}
.temp-layout div{
    color: var(--colcontrast2);
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 600;
    width: 35%;
    height: 40%;
    margin: 2rem;
    text-align: center;
}
.temp-layout span{
    font-size: 3rem;
}

.temp-layout img{
width: 35%;
height: 40%;
margin: 2rem;
cursor: pointer;
}
@media (max-width:38rem) {
    header {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 10% 60%;
            /* align-items: center;
            justify-content: center; */
            
        }
    .moviesList #list {
                    overflow: scroll;
        }
    .moviesList #list {
            overflow: scroll;
        }
    .container-dits {
            padding: 1.4rem;
            width: 100%;
          
        }    
    .container-img {
            width: 40%;
            height: 60%;
        }
    .container-content{
width: 20rem;
    }
    .container-content p{
           font-size: 0.7rem;
            
          
    
        }
} 
